div div .HoaxBtn {
  border: 2px solid #ff00ff;
  border-radius: 10px;
  background-color: purple;
  color: white;
  margin-right: 2px;
}

div div .HoaxBtn:hover {
  background-color: #ff00ff;
}

div div .HoaxBtnCancel {
  border: 2px solid #fe1515;
  border-radius: 10px;
  background-color: darkred;
  color: white;
}

div div .HoaxBtnCancel:hover {
  background-color: #fe1515;
}

div  .HoaxBtnArea {
    text-align: right;
    margin-top: 1px;
}

div .Photo {
  width: 32px;
  height: 32px;
  border-radius: 24px;
  margin-right: 2px;
}